.form__input-container {
  width: 358px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0 0 13px 0;
  font-family: Inter, Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
@media (max-width: 540px) {
  .form__input-container {
    width: 238px;
  }
}

.form__input-container:focus {
  background-color: transparent;
  outline: none;
}
