.box-switch_user-email {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 24px 0 0;
  font-family: Inter, Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #ffffff;
}
