.popup__body {
  display: grid;
  grid-template-columns: 1fr 32px;
  grid-template-rows: 32px 1fr;
  gap: 8px;
}
@media (max-width: 540px) {
  .popup__body {
    grid-template-columns: 1fr;
    grid-template-rows: 20px 1fr;
    justify-items: center;
    gap: 16px;
  }
}
