.popup-close {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../images/CloseIcon.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  grid-column: 2;
  max-width: 32px;
  max-height: 32px;
}
@media (max-width: 540px) {
  .popup-close {
    width: 20px;
    grid-column: 1;
    background-size: contain;
    justify-self: end;
  }
}
